/* Основні стилі для калькулятора */
.calculator {
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 2%;
    padding: 20px;
    background-color: #e7e1ff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  h3 {
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  /* Стилі для лейблів і полів вводу */
  label {
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
    color: #555;
  }
  
  input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="text"]:focus, input[type="number"]:focus {
    border-color: #007bff;
    outline: none;
  }
  
  /* Стилі для радіо кнопок */
  label input[type="radio"] {
    margin-right: 8px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background: linear-gradient(135deg, #ff7e5f, #7f7bfe);
  }
  
  /* Результати */
  h3 + p {
    font-size: 1.1rem;
    color: #333;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 4px;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  
  /* Користувацькі стилі для радіо кнопок */
  input[type="radio"] {
    margin-right: 10px;
  }
  
  /* Спеціальне стилізування для блоку з результатами */
  p {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
  